<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="menu">
    <h2>Current user's orders</h2>
    <button mat-button color="primary"
            type="submit"
            (click)="create()"
            *ngIf="getCurrentUserScope() === 'ROLE_USER'">
      Create
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="vehicleId">
        <th mat-header-cell *matHeaderCellDef> Vehicle id </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
      </ng-container>

      <ng-container matColumnDef="rentStartTime">
        <th mat-header-cell *matHeaderCellDef> Rent start time </th>
        <td mat-cell *matCellDef="let element"> {{element.rentStartTime | date: 'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} day(s)</td>
      </ng-container>

      <ng-container matColumnDef="rentCompletionTime">
        <th mat-header-cell *matHeaderCellDef> Rent completion time </th>
        <td mat-cell *matCellDef="let element"> {{element.rentCompletionTime | date: 'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef> Price/day </th>
        <td mat-cell *matCellDef="let element"> {{element.pricePerDay}} $ </td>
      </ng-container>

      <ng-container matColumnDef="delayPricePerHour">
        <th mat-header-cell *matHeaderCellDef> Delay price/hour </th>
        <td mat-cell *matCellDef="let element"> {{element.delayPricePerHour}} $ </td>
      </ng-container>

      <ng-container matColumnDef="operationalDiscount">
        <th mat-header-cell *matHeaderCellDef> Operation discount </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.operationalDiscount != null">
            {{element.operationalDiscount}} $
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalCost">
        <th mat-header-cell *matHeaderCellDef> Total cost </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.totalCost != null">
            {{element.totalCost}} $
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef> Paid </th>
        <td mat-cell *matCellDef="let element"> {{element.isPaid}} </td>
      </ng-container>

      <ng-container matColumnDef="endRent">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon"
                    matTooltip="End rent"
                    matTooltipPosition="right"
                    *ngIf="getCurrentUserScope() === 'ROLE_USER'"
                    (click)="endRent(element.id)">
            highlight_off
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon"
                    matTooltip="Pay"
                    matTooltipPosition="right"
                    *ngIf="getCurrentUserScope() === 'ROLE_USER'"
                    (click)="pay(element)">
            account_balance_wallet
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
