<div class="header">
  <h1 mat-dialog-title> Create vehicle</h1>
  <mat-icon class="close-btn" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
  <form class="form" [formGroup]="createVehicleForm">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select placeholder="scope" formControlName="type" [ngModel]="types" required>
        <mat-option value="{{type.key}}" *ngFor="let type of types | keyvalue">{{type.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input matInput type="text" formControlName="number" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quality</mat-label>
      <mat-select placeholder="Quality" formControlName="quality" [ngModel]="qualities" required>
        <mat-option value="{{quality.key}}" *ngFor="let quality of qualities | keyvalue">{{quality.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="age" matDatepickerFilter required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price/day</mat-label>
      <input matInput type="text" formControlName="pricePerDay" pattern="(\d{1,}[.]{0,1}\d{0,})" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Delay price/hour</mat-label>
      <input matInput type="text" formControlName="delayPricePerHour" pattern="(\d{1,}[.]{0,1}\d{0,})" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Operation discount</mat-label>
      <input matInput type="text" formControlName="operationalDiscount" pattern="(\d{1,}[.]{0,1}\d{0,})" required>
    </mat-form-field>
    <div class="request-btn">
      <button mat-button color="primary" type="submit" [disabled]="!createVehicleForm.valid" (click)="create()">Create</button>
    </div>
  </form>
</div>
