<div class="header">
  <h1 mat-dialog-title> Update vehicle</h1>
  <mat-icon class="close-btn" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
  <form class="form" [formGroup]="updatingVehicleForm">
    <mat-form-field>
      <mat-label>Quality</mat-label>
      <mat-select placeholder="Quality" formControlName="quality" [ngModel]="qualities" required>
        <mat-option value="{{quality.key}}" *ngFor="let quality of qualities | keyvalue">{{quality.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price/day</mat-label>
      <input matInput type="text" formControlName="pricePerDay" pattern="(\d{1,}[.]{0,1}\d{0,})" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Delay price/hour</mat-label>
      <input matInput type="text" formControlName="delayPricePerHour" pattern="(\d{1,}[.]{0,1}\d{0,})" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Operation discount</mat-label>
      <input matInput type="text" formControlName="operationalDiscount" pattern="(\d{1,}[.]{0,1}\d{0,})" required>
    </mat-form-field>
    <div class="request-btn">
      <button mat-button color="primary" type="submit" [disabled]="!updatingVehicleForm.valid" (click)="update()">Update</button>
    </div>
  </form>
</div>
