<div class="navigation-menu-container" *ngIf="isUserAuthorized()">
  <div class="block">
    <div class="btn"
         routerLink="/user"
         *ngIf="getCurrentUserScope() === 'ROLE_ADMIN'">
      <mat-icon matTooltip="Users"
                matTooltipPosition="right">
        supervisor_account
      </mat-icon>
    </div>
    <div class="btn"
         routerLink="/vehicle">
      <mat-icon matTooltip="Vehicles"
                matTooltipPosition="right">
        drive_eta
      </mat-icon>
    </div>
    <div class="btn"
         routerLink="/order"
         *ngIf="getCurrentUserScope() === 'ROLE_USER'">
      <mat-icon matTooltip="Orders"
                matTooltipPosition="right">
        list_alt
      </mat-icon>
    </div>
  </div>
  <div class="btn"
       routerLink="/report"
       *ngIf="getCurrentUserScope() === 'ROLE_ADMIN'">
    <mat-icon matTooltip="Reports"
              matTooltipPosition="right">
      file_copy
    </mat-icon>
  </div>
  <div class="down-btn"
       (click)="signout()">
    <mat-icon matTooltip="Sign out"
              matTooltipPosition="right">
      exit_to_app
    </mat-icon>
  </div>
</div>
