@import "~src/constants";

.navigation-menu-container {
  background-color: $main-color-dark;
  position: fixed;
  height: 100%;
  width: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $box-shadow;

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    outline: none;
  }

  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    padding: 15% 15% 15% 6%;
    color: white;
    cursor: pointer;
    outline: none;
  }

  .down-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 90%;

    span {
      color: white;
      font-size: 17px;
      text-align: center;
      width: 50%;
    }
  }

  .block {
    width: 100%;
  }
}
