<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="menu">
    <h2>Users</h2>
  </div>
  <div>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="scope">
        <th mat-header-cell *matHeaderCellDef> Scope </th>
        <td mat-cell *matCellDef="let element"> {{element.scope}} </td>
      </ng-container>

      <ng-container matColumnDef="disconnect">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon"
                    matTooltip="Disconnect"
                    matTooltipPosition="right"
                    *ngIf="getCurrentUserId() != element.id"
                    (click)="disconnect(element.id)">
            remove_circle
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
