<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="menu">
    <h2>Vehicles in the  system</h2>
    <button mat-button
            color="primary"
            type="submit"
            *ngIf="getCurrentUserScope() === 'ROLE_USER'"
            (click)="create()">
      Create
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="quality">
        <th mat-header-cell *matHeaderCellDef> Quality </th>
        <td mat-cell *matCellDef="let element"> {{element.quality}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef> Price/day </th>
        <td mat-cell *matCellDef="let element"> {{element.pricePerDay}} $</td>
      </ng-container>

      <ng-container matColumnDef="delayPricePerHour">
        <th mat-header-cell *matHeaderCellDef> Delay price/hour </th>
        <td mat-cell *matCellDef="let element"> {{element.delayPricePerHour}} $</td>
      </ng-container>

      <ng-container matColumnDef="operationalDiscount">
        <th mat-header-cell *matHeaderCellDef> Operation discount </th>
        <td mat-cell *matCellDef="let element"> {{element.operationalDiscount}} $</td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon"
                    matTooltip="Update"
                    matTooltipPosition="right"
                    *ngIf="getCurrentUserScope() === 'ROLE_ADMIN'"
                    (click)="update(element.id)">
            create
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon"
                    matTooltip="Remove"
                    matTooltipPosition="right"
                    *ngIf="getCurrentUserScope() === 'ROLE_ADMIN'"
                    (click)="remove(element.id)">
            delete_sweep
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
