<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="menu">
    <h2>Reports</h2>
    <form class="form" [formGroup]="getReportForm">
      <mat-form-field>
        <mat-label>Vehicle id</mat-label>
        <input matInput type="text" formControlName="vehicleId" required>
      </mat-form-field>
      <button mat-button color="primary" type="submit" [disabled]="!getReportForm.valid" (click)="getPastOrders()">Past orders with such vehicle</button>
      <button mat-button color="primary" type="submit" [disabled]="!getReportForm.valid" (click)="getFutureOrders()">Future orders with such vehicle</button>
    </form>
    <button mat-button color="primary" type="submit" (click)="getAllOrders()">All orders</button>
    <button mat-button color="primary" type="submit" (click)="getAllPaidOrders()">All Paid orders</button>
    <button mat-button color="primary" type="submit" (click)="getAllUnpaidOrders()">All Unpaid orders</button>
  </div>
  <div>
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="vehicleId">
        <th mat-header-cell *matHeaderCellDef> Vehicle id </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
      </ng-container>

      <ng-container matColumnDef="rentStartTime">
        <th mat-header-cell *matHeaderCellDef> Rent start time </th>
        <td mat-cell *matCellDef="let element"> {{element.rentStartTime}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>

      <ng-container matColumnDef="rentCompletionTime">
        <th mat-header-cell *matHeaderCellDef> Rent completion time </th>
        <td mat-cell *matCellDef="let element"> {{element.rentCompletionTime}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef> Price/day </th>
        <td mat-cell *matCellDef="let element"> {{element.pricePerDay}} </td>
      </ng-container>

      <ng-container matColumnDef="delayPricePerHour">
        <th mat-header-cell *matHeaderCellDef> Delay price/hour </th>
        <td mat-cell *matCellDef="let element"> {{element.delayPricePerHour}} </td>
      </ng-container>

      <ng-container matColumnDef="operationalDiscount">
        <th mat-header-cell *matHeaderCellDef> Operation discount </th>
        <td mat-cell *matCellDef="let element"> {{element.operationalDiscount}} </td>
      </ng-container>

      <ng-container matColumnDef="totalCost">
        <th mat-header-cell *matHeaderCellDef> Total cost </th>
        <td mat-cell *matCellDef="let element"> {{element.totalCost}} </td>
      </ng-container>

      <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef> Paid </th>
        <td mat-cell *matCellDef="let element"> {{element.isPaid}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
