@import "~src/constants";

.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10%;
}

.content {
  background: #d8dce08f;
  padding: 8%;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

h3 {
  margin: 0 0 1% 0;
  padding: 0;
  color: $main-color-dark;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 50%;
  font-size: 17px;
}
