<div class="container">
  <div class="content">
    <h3>W E L C O M E</h3>
    <form class="form" [formGroup]="authForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" pattern="^[A-Za-z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zAZ0-9-.]+$" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"
               pattern="(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[0-9a-zA-Z]{5,}" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="btn-menu">
        <button mat-button color="primary" type="submit" [disabled]="!authForm.valid" (click)="signup()">Sign Up</button>
        <button mat-button color="primary" type="submit" [disabled]="!authForm.valid" (click)="signin()">Sign In</button>
      </div>
    </form>
  </div>
</div>
