<div class="header">
  <h1 mat-dialog-title> Create order</h1>
  <mat-icon class="close-btn" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
  <form class="form" [formGroup]="createOrderForm">
    <mat-form-field>
      <mat-label>Vehicle id</mat-label>
      <input matInput type="text" formControlName="vehicleId" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rent start time</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="rentStartTime" matDatepickerFilter required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput type="number" formControlName="duration" pattern="[0-9]+" required>
    </mat-form-field>
    <div class="request-btn">
      <button mat-button color="primary" type="submit" [disabled]="!createOrderForm.valid" (click)="create()">Create</button>
    </div>
  </form>
</div>
